name: flutter_advanced_haptic
description: A Flutter plugin for advanced haptic feedback with customizable intensity, duration, and WebView bridge support.
version: 1.0.1
homepage: https://github.com/flxh4894/flutter_advanced_haptic

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.polymorph.flutter_advanced_haptic
        pluginClass: FlutterHapticPlugin
      ios:
        pluginClass: FlutterHapticPlugin
